<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lungu/IdeaProjects/SeleniumFramework"><classes><class name="rahulshettyacademy.tests.ErrorValidations"><methods><include name="submitOrder"/></methods></class><class name="rahulshettyacademy.tests.StandAloneTest"><methods><include name="submitOrder"/></methods></class></classes></test></suite>